



body{
display: flex;
flex-direction: column;
align-items: center;
}
main{
    width: 100%;
    background-color: rgb(228, 224, 205);
    border-right: 1px groove black;
    border-left: 1px groove black;
box-sizing: border-box;
}


header{
    box-sizing: border-box;

    width: 100%;
    background-color: rgb(233, 149, 70);
    border:1px solid black;
    box-shadow: 1px 0px 4px  1px rgb(177, 169, 169);
}
header >*{
text-align: center;

}


footer {
    box-sizing: border-box;

    box-shadow: 1px 0px 4px  1px rgb(177, 169, 169);
width: 100%;
background-color: rgb(233, 149, 70);

height: 50px;
border:1px solid black;
}

